@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html{
    font-size: 16px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  background-color: #1A0B2E;
  color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    opacity: 0.6;
}

@keyframes btn-animation {
    from{
        top:0px;
    }
    to{
       top: -4px;
    }
}
#header{
    margin-bottom: 100px;
}
#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding:10.5px 0;
    flex-wrap: wrap;
}
#header nav ul{
    display: flex;
    gap:20px;
    opacity: 0.6;
}
#header nav ul li{
     list-style-type: none;
}
#header nav ul li a{
    text-decoration: none;
    color:white;
}
#header nav h1{
    font-size: 2rem;
    animation: btn-animation 2s ease-in-out 1.5s infinite alternate;
    position: relative;
}

.hamburg{
    display: none;
}

#header nav h1 span , .head{
    background:linear-gradient(to top , #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}

.btn-primary{
    font-weight: bold;
    color:white;
    background: linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 12.5px 16px;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 8px;
    transition: all 0.5s ease;
}

.btn-primary:hover{
    transform: scale(1.1);
    background: linear-gradient(rgb(152, 142, 25),rgb(137, 3, 96),rgb(71, 1, 121));
}

.image-containers{
    background-image: url(../assets/hero-bg.png);
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}

.image-containers2{
    background-image: url(../assets/hero-circle.png);
    width: 50%;
    height: 55%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@keyframes btn-new {
    from{
       left:58%;
    }
    to{
        left: 59%;
    }
}
.new-pos-bt{
    position: absolute;
    padding: 8px 16px;
    background-color: rgba(0, 255, 136, 0.8);
    border-radius: 8px;
    /* left:57%; */
    top:25%;
    color:black;
    font-size: 0.8rem;
    animation: btn-new 2s ease-in-out 1s infinite alternate ;
    box-shadow: 1px 1px 3px rgba(108, 211, 163);
    opacity: 0.8;
}
.image-description{
    text-align: center;
    margin-top: 30px;
}
.image-description p{
    opacity: 0.6;
}
.img-head{
    font-size: 3rem;
}

.btn-anima{
    position: relative;
    animation: btn-animation 2s ease-in-out 1s infinite alternate;;
}
.btn-secondary{
    padding: 12.5px 16px;
    background-color: transparent;
    color:rgba(0, 255, 136, 1);
    border:2px solid rgba(0, 255, 136, 1);
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 0.5s ease;
}
.btn-secondary:hover{
    transform: scale(1.1);
     color:rgb(1, 105, 56);
    border:2px solid rgb(1, 105, 56);
}
.btn-containers{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.image-containers2 img{
    width: 20%;
}

#details{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    
}
.details-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#details p{
    max-width: 1000px;
    padding: 6px;
}
#details h1{
    font-size:3rem;
    margin-bottom: 16px;
    /* line-height: 20px; */
}
.detailslast{
    margin-top: 10px;
}
.card-containers{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    flex-wrap: wrap;
    margin-top: 80px;
    padding: 0;
}
.card h1{
    color:rgba(0, 255, 136, 1);
    font-size: 3rem;
}
#techwave-facilities{  
    background-color: rgba(53, 17, 101, 0.4);
    margin-top: 100px;
    padding: 120px 0;
}
.techwave-facilities-des {
    width: 75%;
    margin: 0 auto; 
}

.techwave-facilities-des{
    margin-top: 60px;
}
.techwave-containers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}
.techwave-containers .audio{
    grid-row: span 2;
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.techwave-containers .mobile{
    grid-row: span 1;
    grid-column: span 2;
}
.techwave-containers .global{
    grid-row: span 1;
    grid-column: span 2;
}
.techwave-containers .exclusive{
    grid-row: span 1;
    grid-column: span 2;
}
.techwave-containers .resources{
    grid-row: span 1;
    grid-column: span 1;
}
.common-card{
    padding: 40px;
    border-radius: 40px;
    box-shadow: 2px 2px 2px  rgba(53, 17, 101, 0.4);
    align-self: center;
    background-color: rgba(53, 17, 101, 0.4);
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}
.common-card:hover{
    transform: translateY(-5px);
    background-color: #3f2165;
}
.common-card h1{
    padding: 16px 0;
    font-size: 1.2rem;
}
.common-card p{
    color:#ffffff;
}


#main-section{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 120px;
}

#main-section>section{
    margin-top: 120px;
}
#main-section h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
}

.video-containers{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /* flex-wrap: wrap; */
}
.video {
    border-radius: 50px;
    transition: all 0.5s ease;
    /* box-shadow: 1px 1px 1px rgba(53, 17, 101, 0.4); */
}
.video:hover{
    transform: translateY(-5px);
    background-color: #3f2165;
}
.video iframe{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 24px 24px 0 0;
}

.video-descreption{
    padding: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 0 0 24px 24px;
}
.video-descreption h2{
    font-size: 1.5rem;
    margin-bottom: 12px;
}
.video-descreption p{
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 12px;
}
.video-descreption .time{
    display: flex;
    align-items: center;
    gap: 6px;
    /* justify-content: center; */
    color:rgba(0, 255, 136, 1);
}

#host h1{
    margin-bottom: 40px;
}

.host-details{
    display: flex;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    transition: all 0.5s ease;
}
.host-details:hover{
    transform: translateY(-5px);
    background-color: #3f2165;
}
.host-details h2{
    font-size: 2rem;
    margin-bottom: 16px;
}
.host-details p{
    margin-bottom: 20px;
}
.social-media-logs{
    display: flex;
    align-items: center;
    gap: 8px;
}
.social-media-logs img{
    /* background-color: transparent; */
    padding: 8px;
    border: 1px solid gray;
    border-radius: 50%;
}
footer{
    /* margin-bottom: 600px; */
    background-image: url(../assets/footer-bg.png);
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 34.5px;
    background-size: cover;
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
}
.footer-head{
   font-size: 3rem;
}
.sponsor-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 15px;
}
.sponsor-container div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.sponsor-container span{
    opacity: 0.6;
}

@media screen and (max-width:576px) {
    #header nav ul{
        display: none;
    }
    .btn-nav{
        display: none;
    }
    .hamburg{
       display: inline;
    }
    .card-containers{
        grid-template-columns: repeat(2 , 1fr);
        gap: 15px;
    }
    #details h1{
        font-size:2rem;
    }
    .card h1{
        font-size: 2.5rem;
    }
    .techwave-containers{
        grid-template-columns: repeat(1,1fr);
    }
    #techwave-facilities{
        background-color: rgba(53, 17, 101, 0.4);
        margin-top: 100px;
        padding: 60px 0;
    }
    .techwave-facilities-des {
        width: 100%;
        background-color: rgba(53, 17, 101, 0.4);;    
    }
    .techwave-containers .audio{
        grid-row: span 1;
        grid-column: span 2;
    }
    #header{
        margin-bottom: 50px;
    }
    .card-containers{
        grid-template-rows: repeat(2 , 1fr);
    }
    .video-containers{
       flex-direction: column;
    }
    #main-section h1{
        text-align: center;
        margin-bottom: 40px;
        font-size: 2rem;
    }
    #main-section>section{
        margin-top: 60px;
    }
    .host-details{
        flex-direction: column;
        text-align: center;
    }
    .social-media-logs{
      justify-content: center;
      gap: 10px;
     }
     footer{
        gap: 3.5px;
     }
     .sponsor-container div{
       gap: 1.5px;
     }
     .footer-head{
        font-size: 2rem;
     }
     .sponsor-container{
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
      margin-bottom: 30px;
     }
     .image-description{
        margin-top: 10px;
    }
    .img-head{
        font-size: 2.6rem;
    }
    #details h1{
        font-size:2rem;
    }
    .image-containers2{  
        height: 50%;
    }
}